<?php

return [
    'DB_SERVER' => 'db sever web của bạn',
    'DB_NAME' => 'tên db',
    'DB_USER' => 'root', // Update this for hosting
    'DB_PASS' => '',     // Update this for hosting
    
    'BOT_PASSWORD' => 'Mật khẩu bot',
    
    'ADMIN_EMAIL' => 'tài khoản admin',
    'ADMIN_PASS' => 'mật khẩu admin',
    
    'SECURITY_KEY' => 'some-random-long-secret-key-123456' // key của bạn
    
];
